* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

*,
::before,
::after {
  font-family: 'Inter', sans-serif; }

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400; }

.heading__primary {
  color: black;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .heading__primary--main {
    letter-spacing: 2rem;
    font-size: 4.8rem;
    font-weight: 600;
    padding: .6rem; }
    @media only screen and (max-width: 37.5em) {
      .heading__primary--main {
        letter-spacing: .5rem; } }
  .heading__primary--sub {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    height: 5.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .heading__primary--sub {
        letter-spacing: .5rem; } }
  .heading__primary--icons {
    padding: .6rem; }
  .heading__primary--icon {
    margin: .5rem;
    transition: transform .2s; }
    .heading__primary--icon:hover {
      transform: scale(1.2); }
    .heading__primary--icon-img {
      position: relative; }
      .heading__primary--icon-img-link {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0; }

.heading__secondary {
  font-size: 4rem;
  letter-spacing: .2rem;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  color: transparent;
  background: -webkit-linear-gradient(to right, #396afc, #2948ff);
  background: linear-gradient(to right, #396afc, #2948ff);
  -webkit-background-clip: text;
  background-clip: text; }

.heading__tertiary {
  font-size: 2.5rem;
  letter-spacing: .2rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block; }

.u-margin-big {
  margin-bottom: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-big {
      margin-bottom: 0; } }

.u-margin-small {
  margin-bottom: 1rem; }

.u-margin-medium-top {
  margin-top: 2.5rem; }

.u-margin-medium {
  margin-bottom: 6rem; }

@media only screen and (max-width: 37.5em) {
  .u-hidden {
    display: none !important; } }

.about__content {
  max-width: 100ch; }
  .about__content--block {
    padding: 2rem 3rem; }
  .about__content--text {
    font-size: 2rem; }

.about__highlited {
  text-transform: uppercase;
  background: -webkit-linear-gradient(to right, #0099f7, #f11712);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0099f7, #f11712);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.btn, .btn:visited, .btn:link {
  width: 15rem;
  color: white;
  box-shadow: 0.1rem 0.3rem 0.5rem rgba(52, 94, 253, 0.4);
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0.6rem 0.8rem 0.5rem rgba(52, 94, 253, 0.2); }
  .btn:hover::after {
    transform: scaleX(1) scaleY(1);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 0.1rem rgba(52, 94, 253, 0.2); }

.btn-blue {
  border-radius: .5rem;
  padding: 1.4rem 2rem;
  background: #396afc;
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc); }

.btn-purple {
  background: #6411e1;
  border-radius: .8rem;
  padding: 1.5rem 2.5rem;
  font-size: 2rem; }

.project {
  border-bottom: 0.5px solid #b4b1b1;
  display: flex;
  justify-content: space-around;
  height: 40rem;
  padding: 1rem 2rem;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .project:first-of-type {
      height: 50rem; } }
  @media only screen and (max-width: 37.5em) {
    .project {
      height: 56rem; }
      .project:first-of-type {
        height: 65rem; } }
  @media only screen and (max-width: 37.5em) {
    .project {
      flex-direction: column;
      justify-content: center;
      align-self: center;
      margin: 4rem 0; } }
  .project__img {
    margin: 0 4rem 0 2rem;
    height: 25rem; }
    @media only screen and (max-width: 75em) {
      .project__img {
        margin: 0 0 0 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .project__img:first-of-type {
        height: 20rem; } }
    @media only screen and (max-width: 37.5em) {
      .project__img {
        margin-bottom: 2rem; } }
  .project__text {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: 2rem;
    padding: 0 4rem 1rem 4rem;
    max-width: 60ch;
    height: inherit; }
    @media only screen and (max-width: 75em) {
      .project__text {
        margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .project__text {
        padding: 0; } }
    @media only screen and (max-width: 37.5em) {
      .project__text {
        align-items: center; } }
    .project__text--section {
      padding: .5rem 0 .5rem 0; }
    .project__text--desc {
      padding: 1rem 0 1rem 0; }
  .project__link:link, .project__link:visited {
    text-decoration: none;
    color: white;
    text-transform: uppercase; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .65;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.footer__container {
  z-index: 3;
  font-size: 2rem;
  color: white;
  position: relative;
  padding: 2.5rem 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2948ff, #396afc); }

.footer__name {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  background: -webkit-linear-gradient(to bottom, #a6ffcb, #12d8fa, #1fa2ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #a6ffcb, #12d8fa, #1fa2ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.footer__heart {
  padding: 1rem;
  color: red; }
  .footer__heart--img {
    height: 4rem; }

.header {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__resume:link, .header__resume:visited {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 2.4rem; }
  .header__resume:hover, .header__resume:active {
    color: white; }

.nav__container {
  z-index: 3;
  position: relative;
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-background: linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc);
  box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem rgba(52, 94, 253, 0.4); }
  @media only screen and (max-width: 37.5em) {
    .nav__container {
      flex-direction: column; } }

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav__item {
  margin: 1rem 2rem; }
  @media only screen and (max-width: 37.5em) {
    .nav__item {
      margin: 2.5rem 2rem 0 2rem; } }

.nav__link {
  transition: all .2s; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #f0f0f0;
    text-transform: uppercase;
    font-size: 1.8rem; }
  .nav__link:hover, .nav__link:active {
    color: white; }
  @media only screen and (max-width: 37.5em) {
    .nav__link {
      margin: 0 1rem;
      font-size: 2rem !important; } }

.nav__logo {
  outline: none;
  height: 5rem;
  margin-left: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .nav__logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: .4rem; } }
  .nav__logo-content {
    cursor: pointer;
    margin-top: 2px;
    height: inherit; }

.nav__ham {
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .nav__ham {
      height: 3rem;
      display: inline-block; } }

.fixed nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0; }

.section__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem; }

.section__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
