.nav {
	&__container {
		z-index: 3;
		position: relative;
		padding: 1.5rem 2.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		-webkit-background: linear-gradient(to right, #2948ff, #396afc);

		background: linear-gradient(to right, #2948ff, #396afc);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		@include respond(phone) {
			flex-direction: column; // align-items: center;
		}
	}
	&__list {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		margin: 1rem 2rem;
		@include respond(phone) {
			margin: 2.5rem 2rem 0 2rem;
		}
	}
	&__link {
		transition: all .2s;
		&:link,
		&:visited {
			text-decoration: none;
			color: hsl(0, 0%, 94%);
			text-transform: uppercase;
			font-size: 1.8rem;
		}
		&:hover,
		&:active {
			color: $color-white;
		}
		@include respond(phone) {
			margin: 0 1rem;
			font-size: 2rem !important;
		}
	}
	&__logo {
		outline: none;
		height: 5rem;
		margin-left: 2rem;
		@include respond(phone) {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-right: .4rem;
		}
		&-content {
			cursor: pointer;
			margin-top: 2px;
			height: inherit;
		}
	}
	&__ham {
		cursor: pointer;
		display: none;
		@include respond(phone) {
			height: 3rem;
			display: inline-block; // margin-left: 20rem;
		}
	}
}
.fixed nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}
